.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
logs/
upload/
.DS_Store
code/
public/
manifest/config/config.yaml
hack/config.yaml
.gocache/
.gotmp/
.agents/
.claude/
.codebuddy/
.qoder/
.qwen/
.trae/
.codex-cache/
.codex/