<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>{{.title}}</title>
    <script src="/resource/js/zepto.min.js"></script>
    <link href="/resource/css/weui.min.css" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="page">
    <div class="weui-msg" style="background-color: #fff">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title"  style="color: black">{{.title}}</h2>
            <p class="weui-msg__desc"  style="color: black">授权成功</p>
        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__text" style="color: black">Copyright &copy; 2023 xxxx</p>
        </div>
    </div>
</div>
</body>
</html>